form#blog-post {
    height: 100%;
    width: 100%;
    text-align: center;
}

textarea:focus { outline: none; }
textarea {
    border: 0;
    width: 95%;
    margin: 0 auto;
    resize: none;
    box-shadow: none;
    color: #444;
    text-align: justify;
    line-height: 1.5em;
    font-family: Arial;
}

textarea#post-title {
    overflow: hidden;
    font-size: 48px;
    font-weight: bold;
    height: 1.5em;
}

textarea#post-body {
    display: block;
    position: absolute;
    top: 0;
    height: 75%;    /* would do bottom: 0; but firefox didn't like it... */
    left: 2.5%;
    margin: 80px 0;
    font-size: 18px;
    overflow-y: auto;
}

input[type=submit]#well-post-it-already:hover { opacity: 0.7; }
input[type=submit]#well-post-it-already {
    position: absolute;
    bottom: 10px;
    right: 30px;
    height: 50px;
    width: 150px;
    color: #fff;
    background-color: rgba(0, 136, 204, 0.7);
    border: none;
    border-radius: 10px;
    font-size: 26px;
    font-weight: bold;
}
