<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>miniblog</title>
        <meta name="description" content="frictionless, sane blogging">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="/css/miniblog.css">
        <link rel="stylesheet" href="/css/new-blog-post.css">
    </head>
    
    <body>
        <form id="blog-post" method="POST">
            <textarea id="post-title" name="post-title" maxlength="500" placeholder="Bold Title Here">{{ post_title if post_title != None }}</textarea>
            <textarea id="post-body" name="post-body" placeholder="And an elequent story to be fortold hence...">{{ post_body if post_body != None }}</textarea>
            <input id="well-post-it-already" type="submit" value="Submit" />
        </form>

        <script type="text/javascript" src="/js/new-blog-post.js"></script>
    </body>
</html>
