<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>miniblog</title>
        <meta name="description" content="frictionless, sane blogging">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="/css/miniblog.css">
        <link rel="stylesheet" href="/css/view-blog.css">
    </head>
    
    <body>
        <div id="blog">
            {% for post in posts %}
                <div class="post">
                    <a class="post-title" href="/blog/{{ post.title_path if post.title_path != None }}">
                        <header title="{{ post.title_hover_text if post.title_hover_text != None }}">
                            {{ post.title }}
                        </header>
                    </a>
                    
                    <a class="post-time"
                       href="/blog/{{ post.birthday|date }}/{{ post.bday_offset }}"
                       title="{{ post.birthday|datetime }}">
                        <time datetime="{{ post.birthday }}">{{ post.tdelta }}</time>
                    </a>
                    
                    <article class="post-body">{{ post.body }}</article>
                </div>
            {% endfor %}
        </div>

        <script type="text/javascript" src="/js/MathJax/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
        <script type="text/javascript" src="/js/google_code_prettify.js"></script>

        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
